[submodule "ThirdParty/json"]
	path = ThirdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "ThirdParty/brotli"]
	path = ThirdParty/brotli
	url = https://github.com/google/brotli.git
