[submodule "ThirdParty/json"]
	path = ThirdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "ThirdParty/brotli"]
	path = ThirdParty/brotli
	url = https://github.com/google/brotli.git
[submodule "ThirdParty/libqrencode"]
	path = ThirdParty/libqrencode
	url = https://github.com/fukuchi/libqrencode.git
[submodule "ThirdParty/concurrencpp"]
	path = ThirdParty/concurrencpp
	url = https://github.com/David-Haim/concurrencpp.git
[submodule "ThirdParty/utfcpp"]
	path = ThirdParty/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
